@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
}

:root {
    --background-color-red: #ff3131;
    --background-color-orange: #ff914d;
}

body {
    height: 100vh;
    background: linear-gradient(to right, var(--background-color-red), var(--background-color-orange)) no-repeat;
}

main{
    width: 100%;
    height: 95%;
    display: flex;
}

.logo-div {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    justify-content: center;
}

.infos-div {
    width: 40%;
    margin-left: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;

}

.infos-div > h2 {
    width: 70%;
    height: 40%;
    text-wrap:wrap;
    font-size: 70pt;
    font-family: "Poppins";
    line-height: 11vh;


}

.infos-div > p {
    font-family: "Poppins";
    font-size: 20pt;
}

.imagens-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#button-access {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    padding: 1.3vh;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 30px;
    transition: all ease 1s;
}

#button-access:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
}

#button-access:hover {
    background-color: white;
    color: black;
}

#button-acce:hover:after{
    width: 100%;
  }